# Configure local Virtual environment
export VIRTUAL_ENV=/home/irina/Exercism/venv
export PATH=/home/irina/Exercism/venv/bin:$PATH

# Configure shell prefix
export VENV_BASE="(`basename $VIRTUAL_ENV`) "
